<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/categories.css" />
    <script src="/bootstrap.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="main-content">
        <div class="header-addbtn">
          <h1>categories</h1>
          <a href="/categories/new" class="btn btn-custom btn-sm"
            >Add a Category</a
          >
        </div>
        <div class="categories-list">
          <% listedCategories.forEach((category) => { %>
          <a href="/products?category=<%=category.category%>">
            <div
              class="text-bg-<%=category.category%> category-card"
              style="background-color: <%=category.color%>"
            >
              <h2><%= category.category %></h2>
              <form
                action="categories/delete/<%=category.category%>"
                method="post"
                class="delete-category-form"
              >
                <button type="submit" class="btn btn-sm delete-category-btn">
                  <img
                    src="/images/trash.svg"
                    alt="Delete"
                    class="delete-img"
                  />
                </button>
              </form></div
          ></a>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
