<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/bootstrap.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="main-content">
        <h1>products</h1>
        <% products.forEach((product) => { %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="<%=product.img_src%>"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.brand %></p>
                <p class="card-text">Price: $<%= product.price %></p>
                <p class="card-text">
                  <span class="badge rounded-pill text-bg-primary"
                    ><%= product.category %></span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
